* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}
  
.app{
  flex-direction: column;
  background-image: url(https://kartinkin.com/uploads/posts/2020-09/1600225087_13-p-priyatnii-fon-dlya-saita-19.jpg); 
  background-color: #D25FD2;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  margin: 0 auto;
}

#description {
  font-size: 25px;
  font-weight: 600;
}

#title {
  font-family: 'Fjalla One', sans-serif;
}

#main-things {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(219, 162, 240, 0.3);
  margin: auto 350px;
}

.label {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;  
}

#email, #number, #name {
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 420px;
  margin: 0 auto 25px;
}

.input {
  font-size: 15px;
  font-weight: 600;
  line-height: 27px;
  width: 100%;
}

#dropdown {
  font-size: 17px;
  font-weight: 600;
  line-height: 27px;
  width: 100%;
}

.radio-button-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#submit, #textarea {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}

#submit {
  margin: 30px auto;
  font-family: 'Poppins', sans-serif;
}

#textarea {
  min-height: 400px;
  width: 100%;
  resize: vertical;
}

.textarea-container {
  max-width: 100%;
}

#survey-form {
  width: 100%;
}
  